.contacts{
	padding: 10px;
	position: relative;
	float: left;
}
.map{
	padding: 0;
	height: 500px;
}
.info {
	height: auto;	
	text-align: center;	
}
.info *{
	margin: auto; 
}
.text{
	padding: 50px 250px 50px 250px;
}
.info a{
	font-size: 20px;
}

/*mobile view*/
@media(max-width: 800px) {
	.text{
		padding: 30px 20px 30px 20px;
	}
	.menu h1{
		font-size: 20px; 
		margin: 5px;
	}
	.img1, .img2, .img3{
		height: 350px;
	}
	.info{ 
		height: auto;
		width: 100%;	
	}
	.info p{
		font-size: 20px;
	}
	.info h1{
		font-size: 30px;
	}
	.map{
		height: 300px; 
	}
	.column {
		width: 100%;
	}
}