.projectInfo{
	margin: 5px 10px 5px 10px;
}

.gallery-container{
	margin: 25px;
	display: flex; 
	justify-content: center;	
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
}
.gallery-container img{
	width: 250px;
	margin: 5px;
	padding: 5px;	
}

