.flex-grid {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.col {
	flex: 1;
}

body{
	background-color: #000;
}

.menu h1{
	font-size: 32px; 
	margin: 25px;
}


/*mobile view*/
@media(max-width: 800px) {
	.container {
		flex-direction: column;
	}
}