.menu{
	background-color: #272727;
	border: none;
	text-decoration-color: blue
}

h1{
	font-size: 32px; 
}
.navbar{
	margin: 0px;
}
.navbar-brand{
	position: relative;
	float: left;
	left: 25%;
}

.mobileButtons  { 
	padding-bottom: 10px;
	text-align: center;
}